<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Primary Meta Tags -->
    <title>AwesomeProjects</title>
    <meta name="title" content="AwesomeProjects" />
    <meta
      name="description"
      content="A list of awesome projects made with Glitch!"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://awesomeprojects.glitch.me/" />
    <meta property="og:title" content="AwesomeProjects" />
    <meta
      property="og:description"
      content="A list of awesome projects made with Glitch!"
    />
    <meta property="og:image" content="" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://awesomeprojects.glitch.me/" />
    <meta property="twitter:title" content="AwesomeProjects" />
    <meta
      property="twitter:description"
      content="A list of awesome projects made with Glitch!"
    />
    <meta property="twitter:image" content="" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body class="content container is-fluid">
    {{ content }}
    <footer></footer>
  </body>
</html>
